* {
  box-sizing: border-box;
} 

#search-box, #submit{
font-size: large;
border-radius: 0.5em;
border-color: rgb(218, 218, 233);
text-align: center;
background-color: white;
margin: 0.5em;  

}


.container{
    
     font-size: 1.1em;
     height:100vh; width:100%;

    display: flex;
  flex-direction: column;
  background-color: transparent;
padding: 2em;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin: 0.4cm;
  text-align: center;
  line-height: 10px;
    
}

body{
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0; 
  height: 100%; 
  overflow: auto;
  /* background: linear-gradient(to bottom, rgba(24, 21, 228, 0.541) 0%, rgb(12, 159, 245) 100%); */
  background-image: url("124344-miui-8-weather-background-minimal-hd.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.location{
    font-size: x-large;
    text-align: center;
    width: 100%;
    
}



img{
    width: 100px;
    height: auto;
    position: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.current{
text-align: center;
font-size: x-large;
line-height: 5vmin;

}


.hide{
    display: none;
}

#searchIcon{
    width: 50px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

#searchIcon:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
  }

  
.rec{
  display: flex;
  flex-direction: row;
  background-color: transparent;
padding: 1cm;
  flex-wrap: wrap;
  justify-content: center;
  
}

.rec > div{
  background:rgba(0,0,153, 0.1);
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  padding: 14px 20px;
  border-radius: 1rem;

}

@media screen and (max-width: 568px) {
  .rec{   
    flex-direction: column;
  }
  header, .container{
    display: inline-block;
  }
}


 #plus{
   position: relative;
   top: 5px;
   left: 10px;
   font-size: large;
  
 }

 #plus:hover{
color: black;
 }

 #sideBar{
   color: black;
position: fixed;
width: 200px;
height: 100%;
background-color: white;
top: 0;
right: -200px;
transition: all 500ms linear ;
 }

 #sideBar.active{
right: 0px;
 }

 #sideBar h2{
   padding: 5px;
   margin: 5px;
 }

 #sideBar ul li{
   color: black;
list-style: none;
padding: 15px 10px;

 }

 #sideBar .toggle-btn{
   position: absolute;
   right: 230px;
   top: 20px;

 }

 #sideBar .toggle-btn span{
display: block;
width: 30px;
height: 5px;
background-color: white;
margin: 5px 0px;

 }

