* {
  box-sizing: border-box;
} 

#search-box, #submit{
font-size: large;
border-radius: 0.5em;
border-color: rgb(218, 218, 233);
text-align: center;
background-color: white;
margin: 0.5em;  

}


.container{
    
     font-size: 1.1em;
     height:100vh; width:100%;
      margin:  auto;
    display: flex;
  flex-direction: column;
  background-color: transparent;
padding: 2em;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin: 0.4cm;
  text-align: center;
  line-height: 10px;
    
}

body{
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0; 
  height: 100%; 
  overflow: auto;
  /* background: linear-gradient(to bottom, rgba(24, 21, 228, 0.541) 0%, rgb(12, 159, 245) 100%); */
  background-image: url("124344-miui-8-weather-background-minimal-hd.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.location{
    font-size: x-large;
    text-align: center;
    width: 100%;
    
}



img{
    width: 100px;
    height: auto;
    position: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.current{
text-align: center;
font-size: x-large;
line-height: 5vmin;

}


.hide{
    display: none;
}

#searchIcon{
    width: 50px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

#searchIcon:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  
.rec{
  display: flex;
  flex-direction: row;
  background-color: transparent;
padding: 1cm;
  flex-wrap: wrap;
  justify-content: center;
  
}

.rec > div{
  background:rgba(0,0,153, 0.1);
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  padding: 14px 20px;
  border-radius: 1rem;

}

@media screen and (max-width: 700px) {
  .rec, .container, 
  #search-box, #submit{   
    flex-direction: column;
  }}


 